$lightColor:rgb(222, 206, 190);
$darkColor: rgb(102, 50, 54);
// Setting the background and some basic stuff
body {
  min-height: 100vh;
  background: $lightColor;
  font-size: 100%;
  text-align: justify;
}

// Helper classes
.center-vertically {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.padding-top-bottom {
  padding: 20px 0;
}

// Centering text
.text-align-center,
h2,
h1,
h3 {
  text-align: center;
}

// The longest section, 4 collumns
.long-section {
  border-radius: 20px;
  div:first-of-type {
    padding-left: 30px;
  }
  div:last-of-type{
    padding-right: 30px;
  }
}

// Setting the background
.long-section,
footer {
  background: $darkColor;
  color: $lightColor; // Just setting some whitespace from the side
  p:first-of-type,
  h3:first-of-type {
    padding-left: 10px;
  }
  p:last-of-type {
    padding-right: 10px;
  }
}

// Setting the font and background
header {
  background: $darkColor;
  box-shadow: 0 0 10px $darkColor;
  border-radius: 0 0 20px 20px;
  h1 {
    font-family: Raleway;
    font-size: 300%;
    color: $lightColor;
  }
}

// Making it look better
main,
aside {
  h2 {
    margin: 50px 0;
    font-size: 230%;
  }
}

// Just making it look better
nav.navbar {
  margin-bottom: 10px;
}