.center-vertically {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.margin-top-bottom {
    margin: 50px 0;
}

.text-align-center {
    text-align: center;
}

$lightColor:rgb(222, 206, 190);
$darkColor: rgb(102,50,54);

body {
    min-height: 100vh;
    background: $lightColor;
    font-size: 100%;
}

header {
    background: $darkColor;
    h1 {
        font-family: Raleway;
        font-size: 400%;
        color: $lightColor;
    }
}

main,
aside {
    h2 {
        margin: 50px 0;
        font-size: 230%;
    }
}